{
  "mcpServers": {
    "supabase": {
      "command": "npx",
      "args": [
        "-y",
        "@supabase/mcp-server-supabase@latest",
        "--read-only",
        "--project-ref=uotggkwplqwffibfvlki"
      ],
      "env": {
        "SUPABASE_ACCESS_TOKEN": "sbp_TU_TOKEN_PERSONAL"
      }
    }
  }
}
